.container {
	display: flex;
	flex-direction: column;
	padding: 0.8rem 0.5rem;
}

.container span {
	color: var(--primary);
	padding: 0.5rem 0;
	font-size: 1.4rem;
	*font-style: italic;
	*font-weight: 500;
}

.container input {
	background: var(--quintenary);
	width: 100%;
	height: 2.8rem;
	padding: 0.5rem;
	font-size: 1rem;
  *font-style: italic;
	border-radius: 0.5rem;
	border: 0.2rem solid var(--tertiary);
	outline: none;
}

.container input:hover,
.container input:focus,
.container input:not(:placeholder-shown) {
  background: var(--background);
	border:0.25rem solid var(--secondary);
  transition: all 0.2s ease-in-out;
}
