.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 20rem;
	height: 15rem;
	border-radius: 1rem;
	margin: 1rem;
	padding: 1rem;
	box-shadow: rgba(0, 0, 0, 0.4) 0 0.12rem 0.24rem,
		rgba(0, 0, 0, 0.3) 0 0.44rem 0.82rem -0.19rem,
		rgba(0, 0, 0, 0.2) 0 -0.19rem 0 inset;
	background-color: var(--quintenary);
	color: var(--primary);
}

.date {
	font-size: 1.2rem;
	margin-left: auto;
	font-weight: 500;
	padding: 0.5rem;
}

.container div {
	display: flex;
	flex-direction: column;
}

.type {
	font-size: 2rem;
	font-weight: 500;
	color: var(--secondary);
	*border-bottom: 0.2rem solid var(--tertiary);
}

.concept {
	font-size: 1.2rem;
	font-weight: 500;
}

.ingress, .expense {
	font-size: 3rem;
	font-weight: bold;
	margin-left: auto;
	color: var(--tertiary);
}

.expense {
	color: var(--quaternary);
}
