.container {
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 100vh;
}


.form {
	margin: auto;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	background: var(--background);
	box-shadow: 0px 0px 5px 5px var(--cuartenary);
}

.form img {
	display: none;
}

.body {
	margin: 2rem auto;
	padding: 1rem;
	display: flex;
	flex-direction: column;
}

.body h1 {
	font-size: 1.5rem;
	color: var(--secondary);
	padding: 0.5rem;
}

.body h3 {
	font-size: 1.2rem;
	padding: 0.5rem;
	color: var(--primary);
}

.link {
	font-size: 1.2rem;
	padding: 0.5rem;
	color: var(--primary);
}

@media screen and (min-width: 25rem){
	.container {
		padding: 1rem;
	}

	.form {
		width: 22rem;
		height: 32rem;
		border-radius: 0.8rem;
	}

	.body {
		margin: auto;
		padding: 2rem;
	}
}

@media screen and (min-width: 40rem) {

	.form {
		width: 85%;
		max-width: 45rem;
	}

	.form img {
		display: block;
		border-top-left-radius: 0.8rem;
		border-bottom-left-radius: 0.8rem;
		height: 32rem;
		width: 12rem;
	}

	.body {
		width: 25rem;
	}
}