.App::-webkit-scrollbar {
  -webkit-appearance: none;
}

.App::-webkit-scrollbar:vertical {
  width: 12px;
}

.App::-webkit-scrollbar-button:increment,
.App::-webkit-scrollbar-button {
  display: none;
}

.App::-webkit-scrollbar:horizontal {
  height: 12px;
}

.App::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarBackground);
  border-radius: 20px;
  border: 2px solid var(--scrollbarBorder);
}

.App::-webkit-scrollbar-track {
  border-radius: 10px;
}

