.App {
  text-align: center;
  background: url("./assets/background/polygon-scatter-haikei.svg");
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.App::-webkit-scrollbar {
  -webkit-appearance: none;
}

.App::-webkit-scrollbar:vertical {
  width: 12px;
}

.App::-webkit-scrollbar-button:increment,
.App::-webkit-scrollbar-button {
  display: none;
}

.App::-webkit-scrollbar:horizontal {
  height: 12px;
}

.App::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarBackground);
  border-radius: 20px;
  border: 2px solid var(--scrollbarBorder);
}

.App::-webkit-scrollbar-track {
  border-radius: 10px;
}

